<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update user</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form action="#" th:action="@{/task-update}" th:object="${task}" method="post">
    <label for="id">id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="title">what should be done?</label>
    <input type="text" th:field="*{title}" id="title" placeholder="title">
    <br/>
    <label for="comment">describe more</label>
    <input type="text" th:field="*{comment}" id="comment" placeholder="comment">
    <br/>
    <label for="isDone">Выполнено</label>
    <input type="checkbox" th:field="*{isDone}" id="isDone"/>
    <br/>
    <input type="submit" value="Update Task">
</form>
</body>
</html>