<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>task create</title>
    <link rel="stylesheet" th:href="@{/css/style-create.css}">
</head>
<body>
<form action="#" th:action="@{/task-create}" th:object="${task}" method="post">
<label for="title">what should be done?</label>
<input type="text" th:field="*{title}" id="title" placeholder="title">
<label for="comment">describe more</label>
<input type="text" th:field="*{comment}" id="comment" placeholder="comment">
<input type="submit" value="add task">

</form>
</body>
</html>