@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{

    background: rgb(12, 18, 13);
    font-family: 'Roboto Mono', monospace;
    color: rgb(38, 191, 38);
    text-align: center;


    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    height: 100vh;

}