@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



table {
    width: 1500px;
    margin: auto;
    padding-top: 3em;
}


td{
    padding-top: 2em;
}



body{
    background: rgb(12, 18, 13);
    font-family: 'Roboto Mono', monospace;
    color: rgb(38, 191, 38);
    
}

.comment{
    text-align: left;
}
a{
    text-decoration: none;
    color: rgb(38, 191, 38);
}
